<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="hlth.css"> -->

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <style>
        /* @import url('https'); */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            position: relative;
            position: fixed;
            top: 55px;
            left: 700px;
            max-width: 900px;
            width: 40%;
            height: 80%;
            border-radius: 6px;
            padding: 30px;
            margin: 15px;
            background: linear-gradient(45deg, rgb(147, 204, 225), white);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }

        .container header {
            position: relative;
            font-size: 30px;
            font-weight: 600;
            color: #333;
            text-align: center;
            text-decoration: underline;

        }

        .container header::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 3px;
            width: 27px;
            border-radius: 8px;
        }

        .container form {
            position: relative;
            margin-top: 16px;
            height: 80%;
            background: linear-gradient(45deg, rgb(147, 204, 225), white);
        }

        .container form .details {
            margin-top: 30px;
        }

        .container form .title {
            display: block;
            padding-top: 16px;
            font-size: 16px;
            font-weight: bold;
            margin: 6px 0;
            color: rgb(17, 152, 215);
            margin-bottom: 17px;
        }

        .container form .fields {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        form .fields .input-field {
            display: flex;
            width: calc(100% /3 - 15px);
            flex-direction: column;
            margin: 4px 0;
        }

        .input-field label {
            font-size: 15px;
            font-weight: 500;
            color: #2e2e2e;
        }

        .input-field input {
            outline: none;
            font-size: 14px;
            font-weight: 400;
            color: #333;
            border-radius: 5px;
            border: 1px solid #aaa;
            padding: 0 15px;
            height: 32px;
            margin: 8px 0;
        }

        .input-field input:is(:focus, :valid) {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            /* border: 2px solid red; */
        }

        .container form .nextBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            max-width: 200px;
            width: 100%;
            border: none;
            outline: none;
            color: black;
            border-radius: 5px;
            margin: 25px 0;
            background-color: #41b7fc;
            transition: all 0.3s linear;
            cursor: pointer;

        }

        .result {
            position: relative;
            position: fixed;
            bottom: 120px;
            right: 190px;
            font-size: 16px;
            font-weight: bold;
            color: rgb(5, 84, 169);
        }


        .bturp {
            position: relative;
            position: fixed;
            bottom: 50px;
            right: 1050px;

            height: 45px;
            width: 200px;
            border: none;

            outline: none;

            border-radius: 24px;
            background: linear-gradient(45deg, rgb(147, 204, 225), white);
            transition: all 0.3s linear;
        }

        .nextBtn a {
            text-decoration: none;
            color: black;
        }

        .bturp a {
            text-decoration: none;

        }

        .nextBtn {
            position: relative;
            left: -22px;
        }

        #bghealth {
            height: 100%;
            width: 100%;
            position: fixed;
        }

        #bttn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            max-width: 200px;
            width: 190px;
            border: none;
            outline: none;
            color: black;
            border-radius: 5px;
            margin: 25px 0;
            background-color: #41b7fc;
            transition: all 0.3s linear;
            cursor: pointer;
            position: relative;
            left: 20px;

        }
    </style>
    <title>Check Your Health</title>

</head>

<body>
    <div><img src="https://tinyurl.com/yrnpaarv" alt="image" id="bghealth"></div>

    <div class="container">
        <header>CHECK YOUR HEALTH</header>
        <form action='/predict' method="post" class="col s12" id="myForm">

            <div class="form first">
                <div class="detils personal">
                    <span class="title">DIABETICS PREDICTION</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Number Of Pregnancy</label>
                            <input type="text" id="NOP" name="NOP" required>
                        </div>

                        <div class="input-field">
                            <label>Glucose Level</label>
                            <input type="text" id="GL" name="GL" required>
                        </div>



                        <div class="input-field">
                            <label>Blood Pressure Value</label>
                            <input type="text" id="BPV" name="BPV" required>
                        </div>

                        <div class="input-field">
                            <label>Skin Thickness value</label>
                            <input type="text" name="STV" required>
                        </div>

                        <div class="input-field">
                            <label>Insulin Level</label>
                            <input type="text" id="IL" name="IL" required>
                        </div>

                        <div class="input-field">
                            <label>BMI value</label>
                            <input type="text" id="BV" name="BV" required>
                        </div>
                        <div class="input-field">
                            <label>Diabetes Pedigree Function value</label>
                            <input type="text" id="DPFV" name="DPFV" required>
                        </div>

                        <div class="input-field" id="age">
                            <label>Age of the Person</label>
                            <input type="text" id="AOTP" name="AOTP" required>
                        </div>
                    </div>

                    <div class="btn">
                        <button class="nextBtn">
                            <a class="btnnext" href="/heart">Check Heart Disease</a>
                            <i class="util uil-navigator"></i>
                        </button>
                        <div class="row center">
                            <button type="submit" class="btn-large waves-effect waves-light orange" id="bttn">Predict
                                Diabeties
                                <i class="util uil-navigator"></i></button>
                        </div>

                        <div class="result">
                            <br>
                            {{ pred}}
                            <br>
                        </div>

                    </div>

                    <button class="bturp">
                        <a href="http://localhost:3000/profile">Back To your Profile</a>
                    </button>
                </div>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src=".js/materialize.js"></script>
    <script src="js/init.js"></script>



</body>

</html>